body {
    background: #28334AFF;
    color: #FBDE44FF;
}

a {
    color: #F65058FF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

.main {
    height: 300px;
    width: 450px;
    margin: 10px;
}

.main-tabs {
    display: flex;
}

.main-tabs__item {
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    padding: 5px;
}

.main-tabs__item--active {
    background-color: #28334AFF;
    border: 1px solid #F65058FF;
}

.main-content__item {
    display: none;
    padding-top: 7px;
}

.main-content__item--active {
    display: block;
    background-color: #28334AFF;
    height: 300px;
}

.main-content-steam,
.main-content-buff,
.main-content-global > div {
    height: 20px;
}

input[type="checkbox"] {
    float: right;
    height: 20px;
    width: 20px;
    margin-right: 75px;
}

input[type="number"] {
    float: right;
    height: 20px;
    width: 60px;
    margin-right: 55px;
    text-align: center;
    background: #F65058FF;
    color: #FBDE44FF;
    border: 1px solid #FBDE44FF;
}

input[type="number"].main-content-global-id__input {
    width: 100px;
    margin-right: 35px;
    -webkit-text-security: disc;
}